.parametros-container {
  background: conic-gradient(
    #fd3 0 7%,
    #ffa602 0 21%,
    #e21b3c 0 36%,
    #ed51aa 0 50%,
    #864cbf 0 64%,
    #0572b9 0 78%,
    #66bf39 0 93%,
    #fd3 0 100%
  );
  background-position: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contenedor-gral {
  width: 60%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.saludo {
  background-color: #ff9000;
  border: 3px solid hsla(0, 0%, 100%, 0.314);
  border-radius: 2em;
  box-shadow: 2px 5px rgb(0 0 0 / 19%);
  color: #fff;
  font-family: "Lato";
  font-size: 1.4em;
  padding: 10px 15px;
  text-shadow: 2px 2px 2px rgb(0 0 0 / 13%);
  text-transform: uppercase;
  text-align: center;
  width: 300px;
}
.saludo h2 {
  margin: 0;
  padding: 15px 10px;
  font-size: 1.4em;
}
.avatar-container {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.avatar-container img {
  width: 150px;
  border-radius: 50%;
}
.empecemos-button button {
  background-color: #ff9000;
  border: 3px solid hsla(0, 0%, 100%, 0.314);
  border-radius: 2em;
  box-shadow: 2px 5px rgb(0 0 0 / 19%);
  color: #fff;
  font-family: "Lato";
  font-size: 1.4em;
  padding: 10px 15px;
  text-shadow: 2px 2px 2px rgb(0 0 0 / 13%);
  text-transform: uppercase;
  text-align: center;
  -webkit-animation: pulse 1.5s ease-out infinite;
  animation: pulse 1.5s ease-out infinite;
}
.categorias-container {
  display: flex;
}
@keyframes pulse {
  0% {
    -webkit-transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
  }

  70% {
    -webkit-transform: scale(1);
    box-shadow: 0 0 0 10 rgba(255, 82, 82, 0.7);
  }

  100% {
    -webkit-transform: scale(0.9);
  }
}
