.game-container {
  background: conic-gradient(
    #fd3 0 7%,
    #ffa602 0 21%,
    #e21b3c 0 36%,
    #ed51aa 0 50%,
    #864cbf 0 64%,
    #0572b9 0 78%,
    #66bf39 0 93%,
    #fd3 0 100%
  );
  background-position: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.info-container-juego {
  background-color: #ff9000;
  border: 3px solid hsla(0, 0%, 100%, 0.314);
  border-radius: 1em;
  box-shadow: 2px 5px rgb(0 0 0 / 19%);
  color: #fff;
  font-family: Mikado, serif;
  font-size: 1.5rem;
  padding: 0.5em 1.5em;
  text-align: center;
  text-shadow: 2px 2px 2px rgb(0 0 0 / 13%);
  text-transform: uppercase;
  width: 90%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.info-container-terminado {
  background-color: #ff9000;
  border: 3px solid hsla(0, 0%, 100%, 0.314);
  border-radius: 1em;
  box-shadow: 2px 5px rgb(0 0 0 / 19%);
  color: #fff;
  font-family: Mikado, serif;
  font-size: 1.5rem;
  padding: 0.5em 1.5em;
  text-align: center;
  text-shadow: 2px 2px 2px rgb(0 0 0 / 13%);
  text-transform: uppercase;
  width: 50%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.first-div {
  display: flex;
}
.number {
  font-size: 30px;
  position: absolute;
}
.time {
  font-size: 40px;
  margin: 0px auto;
}
.question {
  font-size: 40px;
  margin-top: 20px;
}
.answers button {
  background-color: #ff9000;
  border: 3px solid hsla(0, 0%, 100%, 0.314);
  border-radius: 1em;
  box-shadow: 2px 5px rgb(0 0 0 / 19%);
  color: #fff;
  font-size: 22px;
  margin-top: 20px;
  margin-left: 20px;
  padding: 10px 15px;
  text-shadow: 2px 2px 2px rgb(0 0 0 / 13%);
  text-transform: uppercase;
}
.answers .correct {
  background-color: #66bf39;
}
.answers .incorrect {
  background-color: #e21b3c;
}
.volver {
  background-color: #ff9000;
  border: 3px solid hsla(0, 0%, 100%, 0.314);
  border-radius: 1em;
  box-shadow: 2px 5px rgb(0 0 0 / 19%);
  color: #fff;
  font-size: 22px;
  margin-top: 20px;
  padding: 10px 15px;
  text-shadow: 2px 2px 2px rgb(0 0 0 / 13%);
  text-transform: uppercase;
}
.resultadoa {
  width: 50%;
  font-size: 40px;
  font-family: "Lato";
}
.logueate {
  margin-top: 30px;
}

@media (max-width: 750px) {
  .info-container-juego {
    width: 90%;
    height: 90vh;
    overflow: scroll;
  }
  .number {
    font-size: 20px;
    position: sticky;
  }
  .time {
    font-size: 30px;
  }
  .first-div {
    display: flex;
    flex-direction: column;
  }
  .question {
    font-size: 25px;
    position: relative;
  }
  .answers {
    width: 97%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: scroll;
  }
  .answers button {
    font-size: 15px;
  }
  .info-container-terminado {
    width: 90%;
  }
}
